<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{{title}}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='styles.css' rel='stylesheet'/>
    <link href='icon.png' rel='icon'/>
</head>
<body>

<div class='header'>
    <a class='logo' href='/'>Rusty Programmers</a>
</div>

<div class='content'>
    {{content}}
</div>

<div class='footer'>
    a place for rust programmers, technologists and enthusiasts -
    <a class='link' rel='nofollow' href=''>send us a message</a>
    <br/>
    <small>&copy; 2015-2016</small>
</div>

<div class='mailing_list'>
    <!-- Begin MailChimp Signup Form -->
    <!--End mc_embed_signup-->
</div>

<!-- Google Analytics -->

</body>
</html>
