<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{{title}}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='/styles.css' rel='stylesheet'/>
    <link href='/icon.png' rel='icon'/>
    <link href='/feeds.xml' rel='alternate' type='application/rss+xml' title='Rusty Programmers'/>
</head>
<body>

<div class='header'>
    <a class='logo' href='/'>Rusty Programmers</a>
</div>

<div class='content'>
    {{content}}
</div>

<div class='footer'>
    a place for rust programmers, technologists and enthusiasts -
    <a class='link' rel='nofollow' href='http://goo.gl/forms/CiRRAvolxk'>send us a message</a>
    <br/>
    <small>&copy; 2015-2016</small>
</div>

<div class='mailing_list'>
    <!-- Begin MailChimp Signup Form -->
    <spam id='mc_embed_signup'>
        <form
            action='//rustyprogrammers.us12.list-manage.com/subscribe/post?u=dc9dff1f6c69b7fa92adb46d0&amp;id=f1dcf3cc7f'
            method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate'
            target='_blank' novalidate>
            <span id='mc_embed_signup_scroll'>
                <span class='mc-field-group'>
                    <input type='email' value='' name='EMAIL' class='required email' id='mce-EMAIL' placeholder='Email'>
                </span>
                <span id='mce-responses' class='clear'>
                    <span class='response' id='mce-error-response' style='display:none'></span>
                    <span class='response' id='mce-success-response' style='display:none'></span>
                </span>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <span style='position: absolute; left: -5000px;' aria-hidden='true'><input type='text'
                                                                                           name='b_dc9dff1f6c69b7fa92adb46d0_f1dcf3cc7f'
                                                                                           tabindex='-1'
                                                                                           value=''></span>
                <span class='clear'><input type='submit' value='Join our mailing list' name='subscribe'
                                           id='mc-embedded-subscribe'
                                           class='button'></span>
            </span>
        </form>
    </spam>

    <!--End mc_embed_signup-->
</div>

<ul class='network'>
    <li class='item'><a class='link' href='http://scalacommunity.com'>Scala Community</a></li>
    <li class='item'><a class='link' href='http://pythoncommunity.com'>Python Community</a></li>
    <li class='item'><a class='link' href='http://rustyprogrammers.com'>Rusty Programmers</a></li>
    <li class='item'><a class='link' href='http://haskellprogrammers.com'>Haskell Programmers</a></li>
</ul>

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-100513-53', 'auto');
    ga('send', 'pageview');
</script>

<!-- Scripts -->
<script src='/scripts.js'></script>

</body>
</html>
