* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.block {
    background: #454545;
    max-width: 600px;
    margin: 3rem;
    padding: 1rem;
    vertical-align: top;
}

.block ul {
    margin: 1rem;
    list-style-type: square;
}

.block a {
    color: #efefef;
}

.block img {
    float: right;
    height: 120px;
    border: 1px solid #111;
}
