<!DOCTYPE html>
<html lang='en'>
<head>

  <title>{{title}}</title>

  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content="Sri creates blockchain, desktop, mobile and web apps">
  <meta name='author' content='Srirangan'>

  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow|Open+Sans+Condensed:300" rel="stylesheet">
  <link href='/styles.css' rel='stylesheet'/>
</head>
<body>

{{content}}

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-100513-21']);
  _gaq.push(['_setDomainName', 'srirangan.net']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
