* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero {
    margin: 7.5rem 0 0 0;
}

.hero .title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
}

.hero .message {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
}


.hero .countdown {
    margin-top: 2.4rem;
    font-size: 2rem;
    line-height: 2rem;
}
